@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }
}

@layer components {
    .label {
        @apply text-base text-start w-full text-primary pl-2 font-bold;
    }

    .input {
        @apply rounded-lg p-3 w-full text-base border-b leading-5;
    }

    .custom-btn {
        @apply rounded-full px-7 py-1 items-center bg-primary;
    }
}